$primary-font: 'HelNeue', 'Arial', sans-serif;
$secondary-font: 'Clonoid', 'Arial', sans-serif;
$brand-100: #1048a0;
$brand-150: #006fe8;
$brand-200: #fcae12;
$brand-300: #00c6ae;
$brand-400: #df0024;
$brand-500: #c33ece;
